main {
  height: 80%;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

h1 {
  color: black;
  border-top: grey 1px solid;
  border-bottom: grey 1px solid;
  background-color: #e6e6e6;
  font-size: 5em;
}

body {
  background-image: url(../imgs/horta.jpg);
  background-size: cover;
}


#div-alfacoins {
  width: 18em;
  height: 18em;
  background-image: linear-gradient(to right bottom, lightgreen, darkgreen);
  background-size: contain;
  border: 1px black solid;
  border-radius: 100%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  padding: 2em;
  margin: 0 auto;
  position: relative; 
  animation: voador 1s ease-out infinite alternate;
}

#alfacoinsPS {
	font-size: .9em;
}

#alfacoins {
	font-size: 1em;
}

#alfacoins > span {
  display: block;
  font-size: 3em;
  padding-top: 20%;
}

#alfacoinsPS > span{
  display: block;
  font-size: 2em;
  padding-top: 20%;
}

#plantar {
  background-image: url(../imgs/pazinha1.png);
}

#aprimorar-clique {
  background-image: url(../imgs/images.png), linear-gradient(90deg, gold, white);
  background-blend-mode: color-dodge;
  margin-left: 1em;
}

#contratar-agricultores {
  background-image: url(../imgs/agricultor.png);
  margin-left: 1em;
}

.botao {
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
  font-size: 28px;
  width: 6em;
  height: 6em;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em;
  background-size: contain;
  position: relative;
  text-align: left;	
  margin-top: 3em;
}

img {
	position:	absolute;
	bottom: 0px;
	right: 0px;
	width: 2em;
	cursor: pointer;
}

#notificacao-conquista {
	position: absolute;
	background-color: #e6e6e6;
	transition: all 200ms ease;
	bottom: 0;
	border: 0 solid black;
	right: 0;
	text-align: left;
	font-size: 1.5em;
}

.saltitante {
  animation: salto 0.1s ease-in 2 alternate;
}

@keyframes voador {
  from {top: 0;}
  to   {top: 30px;}
}

@keyframes salto {
  from {top: 0;}
  to   {top: -20px;}
}
	bottom: 0;
