body {
	background-color: #2c007a;
	color: white;
}

.conq {
	border-radius: 5px;
	padding-left: 10px;
	border: 2px solid white;
	margin: 10px;	
	width: 33%;
}

.jdv {
	background-color: blue;
}

.alcap {
	background-color: green;
}

