body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #390652;
}

h1 {
  font-size: 3em;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

html {
  text-align: center;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 2em;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-size: 2em;
  position: relative;
  margin-right: 1em;
  display: inline-block;
}

a:hover {
  top: -0.5em;
}

#botao-jogos {
  background-image: url(../imgs/space.jpg);
  border: white 1.5px solid;
  color: white;
}

#botao-perfil {
  background-image: url(../imgs/perfil.png);
  border: blue 1.5px solid;
  color: darkblue;
}

#botao-info {
  background-image: url(../imgs/download.png);
  border: gold 1.5px solid;
  color: grey;
}

.botao-home {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
  border-radius: 100%;
  text-align: center;
  width: 5em;
  height: 5em;
}

main {
  margin: 0 auto;
}

#botao-fechar-info {
  font-size: 24px;
  background-image: linear-gradient(90deg, #f73b5d, #fc1e46);
  font-weight: bold;
  float: left;
  margin-left: 12px;
  margin-top: 12px;
}

.info {
  background-color: lightgrey;
  color: black;
  border: white 1px solid;
  width: 35%;
  margin-left: 32.5%;
  position: relative;
  top: -15em;
  animation: flutua 1s ease-out infinite alternate;
  border-radius: 12px;
}

@keyframes flutua {
  from {top: -16em;}
  to {top: -14em;}
}
